.section__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.card__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.card__container .card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.content {
    padding: 0 15px;
    transform: translateY(0px);
    opacity: 0.3;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content__header {
    display: flex;
    width: 100%;
    height: 90px;
}

.content__header__img {
    width: 60px;
    margin: 20px 0 10px auto;
}

.card__container .card .content:hover {
    transform: translateX(0px);
    opacity: 1;
}

.content__titulo__h3 {
    font-size: 1.8em;
    color: white;
    z-index: 1;
    font-family: var(--font-principal);
    height: 30px;
}

.content__main__p {
    font-size: 1em;
    color: white;
    font-weight: 300;
    font-family: var(--font-principal);
    height: 175px;
}

.content__footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90px;
}

.content__footer__link {
    height: 50px;
    position: relative;
    display: inline-block;
    padding: 8px 25px;
    margin-top: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    font-size: 14pt;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
}

.card__container .card .content a:hover {
    color: #000000;
}

.card__container .card .content .card__button-whatsapp {
    background: rgba(123, 216, 123, 0.63);
}

.card__container .card .content .card__button-instagram {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.card__container .card .content .card__button-linkedin {
    background: rgb(72, 138, 224);
}